.hero-image {
  background-image: url("images/Hero-BarBri.jpg");
  background-position: bottom;
  background-size: cover;
}

.slides-home {
  max-width: 50vw;
  max-height: 100px;
}

.icons-co {
  background-color: #9a8c98;
}
