.slides-home {
  max-width: 70vw;
}

.icons-co {
  color: #9a8c98;
}

.hero {
  background-image: url("../images/Hero-BarBri.jpg");
  background-size: cover;
  background-position: center;
  float: right;
  /* flex-wrap: wrap; */
  /* align-items: flex-start; */
  background-attachment: fixed;
  /* background-position: 80%; */
  height: 80vh;
  width: 100vw;
  margin-bottom: 40px;
}

.hero div {
  margin-left: 100px;
  margin-top: 300px;
}

.color-intro {
  margin: 50px 40px 50px 40px;
  display: flex;
  justify-content: center;
}

/* .price-list {
  display: flex;
  flex-direction: row;
  margin: 100px auto 100px 200px;
}

.price-list div {
  display: flex;
  flex-direction: column;
  width: 500px; */

.price-list {
  margin-top: 100px;
}

#bride {
  display: flex;
  justify-content: center;
}
